.player__track_play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .track_play__contain {
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas: "image author" "image album";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .track_play__image {
    width: 51px;
    height: 51px;
    background-color: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 12px;
    grid-row: 1;
    -ms-grid-row-span: 2;
    grid-column: 1;
    grid-area: image;
  }
  
  .track_play__svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4E4E4E;
  }
  
  .track_play__author {
    grid-row: 1;
    grid-column: 2;
    grid-area: author;
    min-width: 49px;
  }
  
  .track_play__author_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    white-space: nowrap;
  }
  
  .track_play__album {
    grid-row: 2;
    grid-column: 2;
    grid-area: album;
    min-width: 49px;
  }
  
  .track_play__album_link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
  }
  
  .track_play__like_dis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 26%;
  }
  
  .track_play__like, .track_play__dislike {
    padding: 5px;
  }
  
  .track_play__like_svg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }
  
  .track_play__dislike {
    margin-left: 28.5px;
  }
  
  .track_play__dislike_svg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;
  }

  ._btn_icon:hover svg {
    fill: transparent;
    stroke: #ACACAC;
    cursor: pointer;
  }
  
  ._btn_icon:active svg {
    fill: transparent;
    stroke: #FFFFFF;
    cursor: pointer;
  }
  
  ._btn_icon:active .track_play__like_svg,
  ._btn_icon:active .track_play__dislike_svg {
    fill: #696969;
    stroke: #FFFFFF;
    cursor: pointer;
  }